* {
  margin: 0;
  padding: 0;
  font-family: "微软雅黑";
  font-size: 0.14rem;
}
.wrapper {
  width: 100%;
  padding: 0 0.1rem;
  box-sizing: border-box;
}
/* 共用 */
.head {
  height: 0.43rem;
  line-height: 0.43rem;
  font-size: 0.2rem;
  color: #0083e7;
  text-align: center;
  letter-spacing: 0.05rem;
}
.footer {
  border-top: 0.01rem solid #d4d4d4;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 0.43rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #fff;
}
.footer .item {
  width: 33.3%;
  height: 0.43rem;
  border-right: 0.01rem solid #d4d4d4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.1rem;
  color: #202020;
  box-sizing: border-box;
}
.footer .item .img {
  width: 0.17rem;
  height: 0.17rem;
}
.footer .item span {
  font-size: 0.1rem;
}
.footer .item span.colorCur {
  color: #fff;
}
.footer .item:last-child {
  border: 0;
}
.footer .item.itemCur {
  background-color: #0083e7;
}
.footer > .item.item0 p {
  background: url(../img/1cur.png);
  background-size: 100% 100%;
}
.footer > .item.item1 p {
  background: url(../img/2cur.png);
  background-size: 100% 100%;
}
.footer > .item.item2 p {
  background: url(../img/3cur.png);
  background-size: 100% 100%;
}
.footer > .item00 p {
  background: url(../img/1.png);
  background-size: 100% 100%;
}
.footer > .item11 p {
  background: url(../img/2.png);
  background-size: 100% 100%;
}
.footer > .item22 p {
  background: url(../img/3.png);
  background-size: 100% 100%;
}
.feedback > .banner,
.userTable > .banner,
.composition > .banner {
  width: 100%;
  height: 1.59rem;
  background: url('../img/banner.png') center center no-repeat;
  background-size: cover;
}
.feedback > .msg,
.userTable > .msg,
.composition > .msg {
  padding-top: 0.13rem;
  padding-bottom: 0.2rem;
  font-size: 0.11rem;
  color: #202020;
  text-indent: 2em;
  line-height: 1.5;
  border-bottom: 0.07rem solid #f5f5f5;
}
.feedback .main,
.userTable .main,
.composition .main {
  padding-top: 0.19rem;
}
.feedback .main > section,
.userTable .main > section,
.composition .main > section {
  margin-bottom: 0.15rem;
}
.feedback .main > section .title,
.userTable .main > section .title,
.composition .main > section .title {
  margin-bottom: 0.08rem;
  font-size: 0.14rem;
  font-weight: bold;
  color: #202020;
}
.feedback .main > section .title span,
.userTable .main > section .title span,
.composition .main > section .title span {
  color: #ff0000;
  line-height: 0.14;
  vertical-align: middle;
}
.feedback .main > section .title span:nth-child(2),
.userTable .main > section .title span:nth-child(2),
.composition .main > section .title span:nth-child(2) {
  color: #9c9c9c;
  font-size: 0.12rem;
  line-height: 0.12rem;
  font-weight: 100;
}
.feedback .main > section > input,
.userTable .main > section > input,
.composition .main > section > input {
  width: 100%;
  height: 0.23rem;
  line-height: 0.23rem;
  display: block;
  box-sizing: border-box;
  border-radius: 0.03rem;
  border: 0.01rem solid #ddd;
  padding: 0 0.04rem;
  font-size: 0.12rem;
  color: #565656;
}
.feedback .main > section > form,
.userTable .main > section > form,
.composition .main > section > form {
  border: 0.01rem solid #ddd;
  border-radius: 0.03rem;
}
.feedback .main > section > form > div,
.userTable .main > section > form > div,
.composition .main > section > form > div {
  padding: 0.07rem 0.12rem;
  border-bottom: 0.01rem solid #ddd;
}
.feedback .main > section > form > div:last-child,
.userTable .main > section > form > div:last-child,
.composition .main > section > form > div:last-child {
  border: 0;
}
.feedback .main > section > form input,
.userTable .main > section > form input,
.composition .main > section > form input {
  width: 0.14rem;
  height: 0.14rem;
  vertical-align: middle;
}
.feedback .main > section > form label,
.userTable .main > section > form label,
.composition .main > section > form label {
  padding-left: 0.08rem;
  height: 0.25rem;
  line-height: 0.25rem;
  font-size: 0.12rem;
  color: #202020;
}
.feedback .main > section > textarea,
.userTable .main > section > textarea,
.composition .main > section > textarea {
  width: 100%;
  height: 1.25rem;
  padding: 0.05rem 0.1rem;
  line-height: 1.5;
  border-radius: 0.03rem;
  border-color: #ddd;
  color: #565656;
  font-size: 0.12rem;
  box-sizing: border-box;
}
.feedback .main > .submit,
.userTable .main > .submit,
.composition .main > .submit {
  width: 1.64rem;
  height: 0.27rem;
  line-height: 0.27rem;
  border: 0;
  background-color: #0083e7;
  font-size: 0.15rem;
  color: #fff;
  margin: 0.2rem auto 0.37rem;
  display: block;
}
/* user.html */
.userRegister > .banner {
  width: 100%;
  height: 2.07rem;
  background: url('../img/banner2.png') center center no-repeat;
  background-size: cover;
}
.userRegister > .main .con {
  line-height: 1.5;
  padding: 0.15rem 0.1rem;
  border-bottom: 0.07rem solid #f5f5f5;
  color: #202020;
}
.userRegister > .main .con p {
  text-indent: 2em;
  font-size: 0.11rem;
}
.userRegister > .main .con .red {
  color: #ff0000;
}
.userRegister > .main .con1 {
  line-height: 1.5;
  padding: 0.17rem 0.1rem 0.25rem;
}
.userRegister > .main .con1 p {
  text-indent: 2em;
  font-size: 0.12rem;
}
.userRegister .btn {
  width: 100%;
  height: 0.48rem;
  position: fixed;
  bottom: 0.43rem;
  left: 0;
  background: #fff;
}
.userRegister .btn button {
  width: 100%;
  height: 0.33rem;
  font-size: 0.17rem;
  border: 0;
  color: #fff;
  background-color: #0083e7;
  display: block;
}
/* userTable.html */
.userTable > .banner {
  width: 100%;
  height: 2.07rem;
  background: url('../img/banner2.png') center center no-repeat;
  background-size: cover;
}

.composition > .banner {
  width: 100%;
  height: 1.58rem;
  background: url('../img/banner3.png') center center no-repeat;
  background-size: cover;
}
.composition > .main .uploadWord .up {
  display: inline-block;
  position: relative;
}
.composition > .main .uploadWord .up p {
  width: 1.13rem;
  height: 0.2rem;
  line-height: 0.2rem;
  color: #fff;
  font-size: 0.11rem;
  background: #0083e7;
  text-align: center;
}
.composition > .main .uploadWord .up input {
  width: 1.13rem;
  height: 0.2rem;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.composition > .main .uploadWord > input {
  display: inline-block;
  width: 2.3rem;
  height: 0.23rem;
}
.compositionSubmit,
.feedbackSubmit {
  text-align: center;
}
.compositionSubmit > img,
.feedbackSubmit > img {
  width: 1.1rem;
  height: 1.1rem;
  margin-top: 0.85rem;
}
.compositionSubmit > .title,
.feedbackSubmit > .title {
  width: 70%;
  margin: 0 auto 0.16rem;
  font-size: 0.24rem;
  color: #73d216;
  font-weight: bold;
}
.compositionSubmit > .tips,
.feedbackSubmit > .tips {
  margin-bottom: 0.1rem;
  font-size: 0.1rem;
  color: #5a5a5a;
}
.compositionSubmit > .tel a,
.feedbackSubmit > .tel a {
  font-size: 0.14rem;
  color: #3f80e8;
  font-weight: bold;
}
.compositionSubmit > .tips2,
.feedbackSubmit > .tips2 {
  margin-bottom: 0.09rem;
  font-size: 0.12rem;
  color: #5b6550;
}
.compositionSubmit > button,
.feedbackSubmit > button {
  width: 100%;
  height: 0.29rem;
  line-height: 0.29rem;
  text-align: center;
  font-size: 0.16rem;
  color: #fff;
  background-color: #4fa000;
  border: 0;
  border-radius: 0.04rem;
}
/* user2.html , .user3.html*/
.user2 > .main .border,
.user3 > .main .border {
  border-top: 0.16rem solid #f5f5f5;
}
.user2 > .main > div,
.user3 > .main > div {
  height: 0.44rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #e4e4e4;
  border-left: 0;
  border-right: 0;
}
.user2 > .main > div img,
.user3 > .main > div img {
  width: 0.32rem;
  height: 0.32rem;
  margin-right: 0.16rem;
}
.user2 > .main > div .span1,
.user3 > .main > div .span1 {
  margin-right: auto;
  font-size: 0.16rem;
  color: #202020;
}
.user2 > .main > div .span2,
.user3 > .main > div .span2 {
  margin-left: auto;
  font-size: 0.16rem;
  color: #202020;
  font-size: 0.13rem;
  color: #a2a2a2;
}
.user2 > .main > div p,
.user3 > .main > div p {
  width: 0.1rem;
  height: 0.1rem;
  border-top: 1px solid #a2a2a2;
  border-right: 1px solid #a2a2a2;
  transform: rotate(45deg);
  margin-left: 0.09rem;
}
/* user4.html */
.user4 > .main .border {
  border-top: 0.16rem solid #f5f5f5;
}
.user4 > .main div {
  height: 0.44rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #e4e4e4;
  border-left: 0;
  border-right: 0;
}
.user4 > .main div input {
  width: 100%;
  height: 0.42rem;
  line-height: 0.44rem;
  border: 0;
  font-size: 0.14rem;
  color: #202020;
  padding-left: 0.1rem;
}
.user4 > .main div img {
  width: 0.18rem;
  height: 0.18rem;
}
.user4 > .main button {
  height: 0.33rem;
  width: 3rem;
  background: #0083e7;
  border: 0;
  color: #fff;
  margin: 0 auto;
  display: block;
  border-radius: 0.04rem;
  font-size: 0.16rem;
  margin-top: 1.75rem;
}
/* feedback_message.jsp */
.feedback_message > .main .border,
.composition_message > .main .border {
  border-top: 0.16rem solid #f5f5f5;
}
.feedback_message > .main > div,
.composition_message > .main > div {
  min-height: 0.44rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #e4e4e4;
  border-left: 0;
  border-right: 0;
}
.feedback_message > .main > div span:last-child,
.composition_message > .main > div span:last-child {
  font-size: 0.13rem;
  color: #a2a2a2;
}
.feedback_message > .main > div span:first-child,
.composition_message > .main > div span:first-child {
  font-size: 0.14rem;
  color: #202020;
}
.feedback_message > .main > div span.color,
.composition_message > .main > div span.color {
  color: #ff2e2e;
}
.feedback_message > .main .col,
.composition_message > .main .col {
  flex-direction: column;
  align-items: flex-start;
  padding: 0.05rem 0.1rem 0.1rem;
}
.feedback_message > .main .col > span,
.composition_message > .main .col > span {
  margin-bottom: 0.05rem;
}
.feedback_message > .main .col > div,
.composition_message > .main .col > div {
  font-size: 0.13rem;
  color: #a2a2a2;
}
.feedback_message > .main .col > div p,
.composition_message > .main .col > div p {
  line-height: 1.5;
}
.feedback_message > .main .col2,
.composition_message > .main .col2 {
  min-height: 1.1rem;
  justify-content: flex-start;
}
/* zugao.html */
.zugao > .main .border {
  border-top: 0.16rem solid #f5f5f5;
}
.zugao > .main > div {
  height: 0.44rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #e4e4e4;
  border-left: 0;
  border-right: 0;
}
.zugao > .main > div section {
  height: 0.44rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.zugao > .main > div section span:nth-child(1) {
  font-size: 0.13rem;
  color: #202020;
}
.zugao > .main > div section span:nth-child(2) {
  font-size: 0.1rem;
  color: #a2a2a2;
}
.zugao > .main > div img {
  width: 0.3rem;
  height: 0.3rem;
  margin-left: auto;
}
.zugao > .main > div p {
  width: 0.1rem;
  height: 0.1rem;
  border-top: 1px solid #a2a2a2;
  border-right: 1px solid #a2a2a2;
  transform: rotate(45deg);
  margin-left: 0.09rem;
}
